@font-face {
	font-family: 'Sequel Sans Black Obl Body';
	src: url('../public/fonts/Sequel Sans Black Obl Body.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Black Obl Body.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sequel Sans Medium Disp';
	src: url('../public/fonts/Sequel Sans Medium Disp.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Medium Disp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sequel Sans Bold Disp';
	src: url('../public/fonts/Sequel Sans Bold Disp.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Bold Disp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sequel Sans Book Disp';
	src: url('../public/fonts/Sequel Sans Book Disp.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Book Disp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sequel Sans Semi Bold Disp';
	src: url('../public/fonts/Sequel Sans Semi Bold Disp.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Semi Bold Disp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sequel Sans Bold Head';
	src: url('../public/fonts/Sequel Sans Bold Head.woff2') format('woff2'),
		url('../public/fonts/Sequel Sans Bold Head.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}	

body{
	background-color: #0d0d0d;
}

p a{
	font-family: 'Sequel Sans Book Disp', sans-serif;
	font-size: 1.25rem;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

ul {
	all: unset;
	color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #efefef;
	font-weight: normal;
}

h1,
h2,
h3 {
	font-family: 'Sequel Sans Bold Disp', sans-serif;
}

h1 {
	font-size: 6.5rem;
}

h2 {
	font-size: 5.25rem;
}

h3 {
	font-size: 3.5rem;
}

h4,
h5 {
	font-family: 'Sequel Sans Bold Head', sans-serif;
}

h4 {
	font-size: 3.12rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-family: 'Sequel Sans Medium Disp', sans-serif;
	font-size: 2rem;
}

p {
	font-family: 'Sequel Sans Book Disp', sans-serif;
	font-size: 1.25rem;
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.8);
}
